<h2 class="title-ciber mb-4">Lista de Productos</h2>

<div class="card">
  <div class="card-body">
    <div class="row mb-3">
      <div class="col-md-12">
        <button class="btn btn-primary">Nuevo</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-2">
                <div class="text-center mb-2">
                  <img src="assets/images/cibertec.png" class="rounded" alt="No se encontro ningun producto"
                    style="width: 50px; height: 50px;">
                </div>
              </div>
              <div class="col-md-8">
                <div class="row">
                  <div class="col-md-9">
                    <span class="product-name">Computadora Core I5 6Mb RAM</span>
                    <p class="product-description">Descripcion del producto principal debe ser mas pequeño</p>
                  </div>
                  <div class="col-md-3 align-text-bottom">
                    <span class="product-price align-text-bottom">S/. 19.00</span>
                  </div>
                </div>
              </div>

              <div class="col-md-2">
                <div class="row">
                  <div class="col-md-12 text-center">
                    <button class="btn btn-danger">E</button>&nbsp;
                    <button class="btn btn-dark">E</button>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>



      </div>

    </div>
  </div>
</div>
