<form>
  <div class="text-center mb-0">
    <img class="mb-2" src="assets/images/cibertec.png" alt="" style="width: 120px; height: 120px;" >
  </div>
  <div class="form-label-group">
    <label>Usuario:</label>
    <input type="email" class="form-control" placeholder="Ingrese su usuario">
  </div>

  <div class="form-label-group mb-3">
    <label>Password:</label>
    <input type="password" class="form-control" placeholder="Ingrese su password">
  </div>

  <button class="btn btn-primary btn-block" type="submit">Acceder</button>
  <p class="mt-5 mb-3 text-muted text-center">© 2020</p>
</form>
